nav{
  background-color: black;
  padding-bottom: 50px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding-top:20px;
  float: right;
  word-spacing: 50px;
  padding-right: 30px;
  font-weight: bold;
}
nav li {
  display: inline;

}
nav a{
  color:white;
}
body{
  background-image: url("background.jpg");
}
div img{
  height:250px;
  width:230px;
  display: block;
  border: solid white 2px;
  border-radius: 40px;
  position: absolute;
  top:80px;
  left:30px;
}

.inspiration{
  height:20px;
  width:100px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:25%;
}
.inspiration button{
  position: absolute;
  top:300px;
  left: 100px;
  width:800px;
  height: 2px;
  background-color: lightblue;
}
#quotes{
  margin-left: 100px;
  width: 600px;
  padding-top: 80px;
  font-family: fantasy;
  color: white;
  font-weight: bold;
  

}
h2{
  position: absolute;
  top:350px;
  color:white;
  border-bottom: solid white 1px;
  margin-left: 33px;
}
main{
  /*font-family: 'Alegreya', serif;*/
  position: absolute;
  top: 410px;
  left: 33px;
  width: 700px;
  height: 300px;
  color:white;
  font-size: 20px;
}

@media screen and (max-width:900px){
  #quotes{
    display: none;
  }
  button{
    display: none;
  }
}
