nav{
  background-color: black;
  padding-bottom: 50px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding-top:20px;
  float: right;
  word-spacing: 50px;
  padding-right: 30px;
  font-weight: bold;
}
nav li {
  display: inline;

}
nav a{
  color:white;
}
body{
  background-image: url("background.jpg");
}
div img{
  height:250px;
  width:230px;
  display: block;
  border: solid white 2px;
  border-radius: 40px;
  position: absolute;
  top:100px;
  left:60px;
}

.inspiration{
  height:20px;
  width:100px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:25%;
}
.inspiration button{
  position: absolute;
  top:300px;
  left: 130px;
  width:800px;
  height: 2px;
  background-color: lightblue;
}
#quotes{
  margin-left: 130px;
  width: 600px;
  padding-top: 80px;
  font-family: fantasy;
  color: white;
  font-weight: bold;
}
#name{
  font-family: sans-serif;
  position: absolute;
  top:390px;
  color:white;
  margin-left: 70px;
}
main{
  font-family: sans-serif;
  position: absolute;
  top: 460px;
  left: 70px;
  width: 700px;
  height: 300px;
  color:white;
  font-size: 20px;
}

@media screen and (max-width:900px){
  #quotes{
    display: none;
  }
  button{
    display: none;
  }
}
