nav{
  background-color: black;
  padding-bottom: 80px;
}
nav img{
  height:30px;
  width:30px;
  position: absolute;
  left: 10px;


}

nav ul{
  list-style-type: none;
  margin: 0;
  padding-top:40px;
  float: right;
  word-spacing: 50px;
  padding-right: 30px;
  font-weight: bold;
}
nav li {
  display: inline;

}
nav a{
  color:white;
}
#section1{
  background-image: url("background.jpg");
  position: absolute;
  height:1080px;
  width: 1920px;
}
div img{
  height:250px;
  width:230px;
  display: block;
  border: solid white 2px;
  border-radius: 40px;
  position: absolute;
  top:80px;
  left:60px;
  box-shadow: 5px 5px grey;
}

.inspiration{
  height:20px;
  width:100px;
  margin: -20px -50px;
  position:relative;
  top: 100px;
  left:290px;
}
.inspiration button{
  width:650px;
  height: 2px;
  position: absolute;
  top: 250px;
  left: 130px;
  background-color: lightblue;
}
#quotes{
  margin-left: 130px;
  width: 600px;
  font-family: fantasy;
  color: white;
  font-weight: bold;
}
#name{
  font-family: sans-serif;
  position: absolute;
  top:390px;
  color:white;
  margin-left: 70px;
}
main{
  font-family: sans-serif;
  position: absolute;
  top: 460px;
  left: 70px;
  width: 700px;
  height: 300px;
  color:white;
  font-size: 20px;
}

footer{
  border: black solid 3px;
  z-index: -1;
  height: 50px;
  width: 100px;
}

@media screen and (max-width:900px){
  #quotes{
    display: none;
  }
  button{
    display: none;
  }
}
@media screen and(max-width: 600px){
  main{
    width: 50%;
  }
}
